<div class="fs20 center w350">
    <h3>Sign In</h3>
    <section>
        <div>
            <span>Hi, there!</span><br />
            <span><strong>Welcome to Service</strong></span><br /><br />
            <span>Select an account to sign in, forget or manage a saved account on this device</span><br /><br />
            <div id="list">
                <div class="row br2">
                    <span class="fi-list"></span> &nbsp;
                    <div>
                        <input id="alias" name="alias" type="text" placeholder="Enter your identifier" /><br />
                        <span class="my-error-tip"></span>
                    </div>
                    <div>
                        <input id="password" name="password" type="password" placeholder="password" /><br />
                        <span class="my-error-tip"></span>
                    </div>
                    <br />
                    <span class="fi-x red o50 pl5"></span>
                </div>
            </div>
            <br />
            <div><a href="/forgot"><strong>Forgot your password?</strong></a></div>
        </div><br />
        <div class="center"><input id="btn_signin" name="btn_signin" type="button" value="Sign In" /></div><br />
        <div><a href="/signup"><strong>Don't have an account? Sign up</strong></a></div>
        <br /><br />
        <span id="error"></span>
    </section>
</div>